.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-toolbar{
  display: flex;
  min-height: 75px;
}

.spacer {
  flex: 1;
}

.content {
  flex: 1;
  overflow: hidden;
}
